
header{
	background-color: #9FA6C1;
	color: white;
	text-align: center;
	padding: 20px 0;
}
header h1{
	font-size: 32px;
	margin-bottom: 10px;
}
header a{
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: 16px;
	font-weight: 500;
}
body{
	height:0;
	padding:0;
	margin: 0;
	
}
.me h1{
	font-size: 25px;
	text-align: center;
	
	
	
}
.me p{
	font-size: 17px;
	text-align: center;
	
	
	
}
.About h1{
	font-size: 25px;
	text-align: center;
	
	
	
}
.About p{
	font-size: 17px;
	text-align: center;
	
	
	
}
.container{
	margin:150px auto;
	width:85%;
	
	
	
}
.projects h1{
	font-size: 25px;
	text-align: center;
	
	
	
}
img{
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%; 
	width: 200px;
	height: auto;
}
.card-container{
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
	
}

.card{
    width: 325px;
    background-color: blue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(red, green, blue, alpha);
    margin: 20px;
}

.card-content{
    margin-left: 5%;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #333;
    border-radius: 4px;
    margin-top: 16px;
    color: black;
}

.card-content h3{
    color: black;
    font-size: 28px
}
.card-content p{
    font-size: 15px;
    margin-bottom: 8px;
    color: black;
}
