
header{
	background-color: #9FA6C1;
	color: white;
	text-align: center;
	padding: 20px 0;
}
header h1{
	font-size: 32px;
	margin-bottom: 10px;
}
header a{
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: 16px;
	font-weight: 500;
}
body{
	height:0;
	padding:0;
	margin: 0;
	
}
.me h1{
	font-size: 25px;
	text-align: center;
	
	
	
}
.me p{
	font-size: 17px;
	text-align: center;
	
	
	
}
.About h1{
	font-size: 25px;
	text-align: center;
	
	
	
}
.About p{
	font-size: 17px;
	text-align: center;
	
	
	
}
.container{
	margin:150px auto;
	width:85%;
	
	
	
}
.projects h1{
	font-size: 25px;
	text-align: center;
	
	
	
}
img{
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 50%; 
	width: 200px;
	height: auto;
}
.card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
}